# Virtual environment
venv/
.env

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Logs
*.log

# ----------------------------
# VS Code / IDE settings
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Frontend 
# ----------------------------
node_modules/
dist/
build/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
